# Node Modules
node_modules/

# Environment Variables
.env

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
logs/
*.log

# Build Files
dist/
build/

# ⚙️ TypeScript Files
*.tsbuildinfo

# 🛠 IDE Config Files
.vscode/
.idea/

# macOS System Files
.DS_Store

# Windows System Files
Thumbs.db

# npm Cache
.npm/
.npm-cache/
package-lock.json